@page "/Reviews_Plan"

<div class="card" style="margin-bottom: 10px">
    <div class="card-header">
        <table width="100%">
            <tr>
                <td><span style="font-size: 1em"> <span class="bi-house-fill"></span>&nbsp;<span>장기수선계획 검토 현황</span></span></td>
                <td>
                </td>
                <td align="right">
                    <button type="button" class="btn btn-outline-secondary btn-sm" @onclick="btnOpen">검토 생성 열기</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        <table class="table table-sm" style="font-size: 0.9em; margin-bottom: 10px">
            <thead>
                <tr style="background-color: ghostwhite; border-top-color: darkslategrey; border-top-style:solid; border-top-width: 2px">
                    <th class="text-center">식별코드</th>
                    <th class="text-center">계획조정일</th>
                    <th class="text-center">검토구분</th>
                    <th class="text-center">계획검토일</th>
                    <th class="text-center">완료여부</th>
                    <th class="text-center">검토항목수</th>
                    <th class="text-center">검토자</th>
                    <th class="text-center">버 튼</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var st in annA)
                {
                    <tr style="background-color: ghostwhite; border-bottom-color: darkslategrey; border-bottom-style:solid; border-bottom-width: 1px">
                        <td style="text-align:center; vertical-align: middle">@st.Plan_Review_Code</td>
                        <td style="text-align:center; vertical-align: middle"><span title="@st.Repair_Plan_Code">@st.Adjustment_Date.ToShortDateString()</span></td>
                        <td style="text-align:center; vertical-align: middle">@st.PlanReview_Division</td>
                        <td style="text-align:center; vertical-align: middle">@st.PlanReview_Date.ToShortDateString()</td>
                        <td style="text-align:center; vertical-align: middle">@st.PlanReview_Complete</td>
                        <td style="text-align:center; vertical-align: middle">@Review_Content_Count(st.Plan_Review_Code.ToString())<span>개</span></td>
                        <td style="text-align:center; vertical-align: middle">@st.Plan_Reviewer</td>
                        <td style="text-align:center; vertical-align: middle"><button @onclick="() => OnById(st.Plan_Review_Code)" class="btn btn-link btn-sm">상세</button> <button @onclick="() => OnRemove(st.Plan_Review_Code)" class="btn btn-link btn-sm">삭제</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-md-12" style="margin-bottom: -20px">
            <DulPager.DulPagerComponent Model="pager" PageIndexChanged="PageIndexChanged"></DulPager.DulPagerComponent>
        </div>
    </div>
</div>

@if (ViewsA == "B")
{
    <div class="card">
        <div class="card-header">
            <table width="100%">
                <tr>
                    <td><span style="font-size: 1em"> <span class="bi-house-fill"></span>&nbsp;<span>장기수선계획 총론 검토 내용</span></span></td>
                    <td>
                    </td>
                    <td align="right">
                        <button class="btn btn-outline-dark btn-sm" @onclick="() => btnEidtOpenA()">수정</button> &nbsp; <button type="button" class="btn btn-outline-success btn-sm" @onclick="btnViewsCloseA">닫기</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-body">
            @if (ann == null)
            {
                <span style="font-size: 1em; color : red">입력된 검토가 없습니다.</span>
            }
            else
            {
                <table class="table" style="font-size: 0.9em">
                    <tr>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 계획기간 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @epn.Plan_Period<span>년</span> <span class="bi-chevron-right" style="color:cadetblue"></span> @ann.Plan_Period<span>년</span>
                        </td>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 적립잔액 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @string.Format("{0: ###,###.#}", dbBalance)<span>원</span> <span class="bi-chevron-right" style="color:cadetblue"></span> @ann.Saving_Cost
                        </td>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 부과금액 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @string.Format("{0: ###,###.#}", upn.Unit_Price)<span>원</span> <span class="bi-chevron-right" style="color:cadetblue"></span> @ann.Levy_Sum
                        </td>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 검토완료일 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @ann.PlanReview_Date.ToShortDateString()
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 소액지출 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @epn.SmallSum_Unit @epn.Small_Sum<span>원</span> <span class="bi-chevron-right" style="color:cadetblue"></span> @ann.SmallSum_Expense
                        </td>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 긴급지출 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @ann.Emergency_Expense
                        </td>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 검토구분 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @ann.PlanReview_Division
                        </td>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 완료여부 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @ann.PlanReview_Complete
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 검 토 자 :</span>
                        </td>
                        <td style="vertical-align:middle">
                            @ann.Plan_Reviewer
                        </td>
                        <td style="vertical-align:middle">
                            <span style="font-weight: bold; color:Highlight"> 검토의견 :</span>
                        </td>
                        <td colspan="5" style="vertical-align:middle">
                            @ann.PlanReview_Opinion
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <div class="card" style="margin-top: 10px">
        <div class="card-header">
            <table width="100%">
                <tr>
                    <td>
                        <span style="font-size: 1em"> <span class="bi-house-fill"></span>&nbsp;<span>장기수선계획 수선항목 검토 내용</span></span>
                    </td>
                    <td>
                    </td>
                    <td align="right">
                        <button type="button" class="btn btn-outline-secondary btn-sm" @onclick="btnContentOpen">검토 생성 열기</button>
                        <button type="button" class="btn btn-outline-success btn-sm" @onclick="btnViewsCloseA">닫기</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <img src="/images/sub/board_tit_bullet.png" alt="" /> <span style="font-size: 0.9em; font-weight: bold; color: Highlight">1. 건물외부 검토 내용</span> &nbsp;&nbsp;&nbsp; <span style="font-size: 0.9em">검토 개수 : @bnnA.Count <span>개</span></span><br />
            @if (bnnA == null || bnnA.Count < 1)
            {
                <span style="font-size: 1em; color : red">입력된 검토가 없습니다.</span><br /><br />
            }
            else
            {
                <table class="table table-sm" style="font-size: 0.9em">
                    <thead>
                        <tr style="background-color: ghostwhite">
                            <th class="text-center">
                                수선 항목
                            </th>
                            <th class="text-center">
                                수선 항목 검토
                            </th>
                            <th class="text-center">
                                수선 주기 검토
                            </th>
                            <th class="text-center">
                                부분 및 수선율 검토
                            </th>
                            <th class="text-center">
                                수선금액 검토
                            </th>
                            <th class="text-center">
                                검토 메모
                            </th>
                            <th class="text-center">
                                검토일
                            </th>
                            <th class="text-center">
                                버 튼
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var st in bnnA)
                        {
                            <tr>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Name
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cycle_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Part_Rate_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cost_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (st.Review_Content == null || st.Review_Content == "")
                                    {
                                        <span>기재하지 않음</span>
                                    }
                                    else
                                    {
                                        <span title="@st.Review_Content">@Dul.StringLibrary.CutString(st.Review_Content, 20)</span>
                                    }
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.PostDate.ToShortDateString()
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <button @onclick="() => OnByContentEdit(st)" class="btn btn-link btn-sm">수정</button> <button @onclick="() => OnContentRemove(st)" class="btn btn-link btn-sm">삭제</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-size: 0.9em; font-weight: bold; color:Highlight">2. 건물내부 검토 내용</span>&nbsp;&nbsp;&nbsp; <span style="font-size: 0.9em">검토 개수 : @bnnB.Count <span>개</span></span><br />

            @if (bnnB == null || bnnB.Count < 1)
            {
                <span style="font-size: 1em; color : red">입력된 검토가 없습니다.</span><br /><br />
            }
            else
            {
                <table class="table table-sm" style="font-size: 0.9em">
                    <thead>
                        <tr style="background-color: ghostwhite">
                            <th class="text-center">
                                수선 항목
                            </th>
                            <th class="text-center">
                                수선 항목 검토
                            </th>
                            <th class="text-center">
                                수선 주기 검토
                            </th>
                            <th class="text-center">
                                부분 및 수선율 검토
                            </th>
                            <th class="text-center">
                                수선금액 검토
                            </th>
                            <th class="text-center">
                                검토 메모
                            </th>
                            <th class="text-center">
                                검토일
                            </th>
                            <th class="text-center">
                                버 튼
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var st in bnnB)
                        {
                            <tr>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Name
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cycle_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Part_Rate_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cost_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (st.Review_Content == null || st.Review_Content == "")
                                    {
                                        <span>기재하지 않음</span>
                                    }
                                    else
                                    {
                                        <span title="@st.Review_Content">@Dul.StringLibrary.CutString(st.Review_Content, 20)</span>
                                    }
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.PostDate.ToShortDateString()
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <button @onclick="() => OnByContentEdit(st)" class="btn btn-link btn-sm">수정</button> <button @onclick="() => OnContentRemove(st)" class="btn btn-link btn-sm">삭제</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-size: 0.9em; font-weight: bold; color:Highlight">
                3. 전기·소화·승강기 및 지능형 홈네트워크 설비 검토 내용
            </span>&nbsp;&nbsp;&nbsp; <span style="font-size: 0.9em">검토 개수 : @bnnC.Count <span>개</span></span><br />

            @if (bnnC == null || bnnC.Count < 1)
            {
                <span style="font-size: 1em; color : red">입력된 검토가 없습니다.</span><br /><br />
            }
            else
            {
                <table class="table table-sm" style="font-size: 0.9em">
                    <thead>
                        <tr style="background-color: ghostwhite">
                            <th class="text-center">
                                수선 항목
                            </th>
                            <th class="text-center">
                                수선 항목 검토
                            </th>
                            <th class="text-center">
                                수선 주기 검토
                            </th>
                            <th class="text-center">
                                부분 및 수선율 검토
                            </th>
                            <th class="text-center">
                                수선금액 검토
                            </th>
                            <th class="text-center">
                                검토 메모
                            </th>
                            <th class="text-center">
                                검토일
                            </th>
                            <th class="text-center">
                                버 튼
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var st in bnnC)
                        {
                            <tr>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Name
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cycle_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Part_Rate_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cost_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (st.Review_Content == null || st.Review_Content == "")
                                    {
                                        <span>기재하지 않음</span>
                                    }
                                    else
                                    {
                                        <span title="@st.Review_Content">@Dul.StringLibrary.CutString(st.Review_Content, 20)</span>
                                    }
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.PostDate.ToShortDateString()
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <button @onclick="() => OnByContentEdit(st)" class="btn btn-link btn-sm">수정</button> <button @onclick="() => OnContentRemove(st)" class="btn btn-link btn-sm">삭제</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-size: 0.9em; font-weight: bold; color:Highlight">
                4. 급수·배수 및 환기설비 검토 내용
            </span>&nbsp;&nbsp;&nbsp; <span style="font-size: 0.9em">검토 개수 : @bnnD.Count <span>개</span></span><br />

            @if (bnnD == null || bnnD.Count < 1)
            {
                <span style="font-size: 1em; color : red">입력된 검토가 없습니다.</span><br /><br />
            }
            else
            {
                <table class="table table-sm" style="font-size: 0.9em">
                    <thead>
                        <tr style="background-color: ghostwhite">
                            <th class="text-center">
                                수선 항목
                            </th>
                            <th class="text-center">
                                수선 항목 검토
                            </th>
                            <th class="text-center">
                                수선 주기 검토
                            </th>
                            <th class="text-center">
                                부분 및 수선율 검토
                            </th>
                            <th class="text-center">
                                수선금액 검토
                            </th>
                            <th class="text-center">
                                검토 메모
                            </th>
                            <th class="text-center">
                                검토일
                            </th>
                            <th class="text-center">
                                버 튼
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var st in bnnD)
                        {
                            <tr>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Name
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cycle_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Part_Rate_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cost_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (st.Review_Content == null || st.Review_Content == "")
                                    {
                                        <span>기재하지 않음</span>
                                    }
                                    else
                                    {
                                        <span title="@st.Review_Content">@Dul.StringLibrary.CutString(st.Review_Content, 20)</span>
                                    }
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.PostDate.ToShortDateString()
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <button @onclick="() => OnByContentEdit(st)" class="btn btn-link btn-sm">수정</button> <button @onclick="() => OnContentRemove(st)" class="btn btn-link btn-sm">삭제</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <img src="/images/sub/board_tit_bullet.png" alt="" /> <span style="font-size: 0.9em; font-weight: bold; color: Highlight">
                5. 급수·배수 및 환기설비 검토 내용
            </span>&nbsp;&nbsp;&nbsp; <span style="font-size: 0.9em">검토 개수 : @bnnE.Count <span>개</span></span><br />

            @if (bnnE == null || bnnE.Count < 1)
            {
                <span style="font-size: 1em; color : red">입력된 검토가 없습니다.</span><br /><br />
            }
            else
            {
                <table class="table table-sm" style="font-size: 0.9em">
                    <thead>
                        <tr style="background-color: ghostwhite">
                            <th class="text-center">
                                수선 항목
                            </th>
                            <th class="text-center">
                                수선 항목 검토
                            </th>
                            <th class="text-center">
                                수선 주기 검토
                            </th>
                            <th class="text-center">
                                부분 및 수선율 검토
                            </th>
                            <th class="text-center">
                                수선금액 검토
                            </th>
                            <th class="text-center">
                                검토 메모
                            </th>
                            <th class="text-center">
                                검토일
                            </th>
                            <th class="text-center">
                                버 튼
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var st in bnnE)
                        {
                            <tr>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Name
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cycle_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Part_Rate_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cost_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (st.Review_Content == null || st.Review_Content == "")
                                    {
                                        <span>기재하지 않음</span>
                                    }
                                    else
                                    {
                                        <span title="@st.Review_Content">@Dul.StringLibrary.CutString(st.Review_Content, 20)</span>
                                    }
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.PostDate.ToShortDateString()
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <button @onclick="() => OnByContentEdit(st)" class="btn btn-link btn-sm">수정</button> <button @onclick="() => OnContentRemove(st)" class="btn btn-link btn-sm">삭제</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-size: 0.9em; font-weight: bold; color:Highlight">
                6. 옥외 복리시설 및 옥외 부대시설 검토 내용
            </span>&nbsp;&nbsp;&nbsp; <span style="font-size: 0.9em">검토 개수 : @bnnF.Count <span>개</span></span><br />

            @if (bnnF == null || bnnF.Count < 1)
            {
                <span style="font-size: 1em; color : red">입력된 검토가 없습니다.</span><br /><br />
            }
            else
            {
                <table class="table table-sm" style="font-size: 0.9em">
                    <thead>
                        <tr style="background-color: ghostwhite">
                            <th class="text-center">
                                수선 항목
                            </th>
                            <th class="text-center">
                                수선 항목 검토
                            </th>
                            <th class="text-center">
                                수선 주기 검토
                            </th>
                            <th class="text-center">
                                부분 및 수선율 검토
                            </th>
                            <th class="text-center">
                                수선금액 검토
                            </th>
                            <th class="text-center">
                                검토 메모
                            </th>
                            <th class="text-center">
                                검토일
                            </th>
                            <th class="text-center">
                                버 튼
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var st in bnnF)
                        {
                            <tr>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Name
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Article_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cycle_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Part_Rate_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.Repair_Cost_Review
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (st.Review_Content == null || st.Review_Content == "")
                                    {
                                        <span>기재하지 않음</span>
                                    }
                                    else
                                    {
                                        <span title="@st.Review_Content">@Dul.StringLibrary.CutString(st.Review_Content, 20)</span>
                                    }
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @st.PostDate.ToShortDateString()
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <button @onclick="() => OnByContentEdit(st)" class="btn btn-link btn-sm">수정</button> <button @onclick="() => OnContentRemove(st)" class="btn btn-link btn-sm">삭제</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

}

@if (InsertViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: cornflowerblue; color: white">
                    <h5 class="modal-title"><span class="bi-house-door"></span>&nbsp;@strTitle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: 500px; overflow-x: no-display; overflow-y: scroll">

                    @if (NewOpen == "B")
                    {
                        <table width="100%">
                            <tr>
                                <td width="30%"></td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-pencil-square"></span>&nbsp;조정년도</span></div>
                                        <select id="Sort_A_Code" class="custom-select" value="@strPlan_Year" style="font-size: 0.9em" @onchange="onYear" required>
                                            <option value="Z">=조정년도선택=</option>
                                            @foreach (var it in rnn)
                                            {
                                                <option value="@it.Adjustment_Year">@it.Adjustment_Year</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-pencil-square"></span>&nbsp;조정년도</span></div>
                                        <select id="Sort_A_Code" class="custom-select" value="@strPlan_Code" style="font-size: 0.9em" @onchange="onCode" required>
                                            <option value="Z">=조정년도선택=</option>
                                            @foreach (var it in rnnA)
                                            {
                                                <option value="@it.Repair_Plan_Code">@it.Adjustment_Date.ToShortDateString()</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }

                    <table class="table" style="margin-bottom: 0px; font-size: 0.9em">
                        <thead>
                            <tr style="background-color: ghostwhite">
                                <th class="text-center" style="width: 20%">내용 구분</th>
                                <th class="text-center">장기수선게획 내용</th>
                                <th class="text-center" style="width: 30%">검토내용 선택</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td align="center" style="vertical-align:middle">
                                    계획기간 :
                                </td>
                                <td align="center" style="vertical-align:middle">
                                    @epn.Plan_Period<span>년간</span>
                                </td>
                                <td>
                                    <select id="Plan_Period" class="custom-select" @bind="ann.Plan_Period" style="font-size: 0.9em" required>
                                        <option value="Z">::기간 검토 선택::</option>
                                        <option value="너무 짧게 계획">너무 짧게 계획</option>
                                        <option value="적정하게 계획">적정하게 계획</option>
                                        <option value="너무 길게 계획">너무 길게 계획</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="vertical-align:middle">
                                    적립잔액(현재) :
                                </td>
                                <td align="center" style="vertical-align:middle">
                                    @string.Format("{0: ###,###.#}", dbBalance)<span>원</span>
                                </td>
                                <td>
                                    <select id="Saving_Cost" class="custom-select" @bind="ann.Saving_Cost" style="font-size: 0.9em" required>
                                        <option value="Z">::적립잔액 검토 선택::</option>
                                        <option value="필요금액보다 부족">필요금액보다 부족</option>
                                        <option value="적정금액 적립">적정금액 적립</option>
                                        <option value="필요금액보다 과다">필요금액보다 과다</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="vertical-align:middle">
                                    부과금액 :
                                </td>
                                <td align="center" style="vertical-align:middle">
                                    @string.Format("{0: ###,###.##}", upn.Unit_Price)<span>원</span>
                                </td>
                                <td>
                                    <select id="Levy_Sum" class="custom-select" @bind="ann.Levy_Sum" style="font-size: 0.9em" required>
                                        <option value="Z">::부과금액 검토 선택::</option>
                                        <option value="적정 부과">적정 부과</option>
                                        <option value="과소 부과">과소 부과</option>
                                        <option value="과다 부과">과다 부과</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="vertical-align:middle">
                                    소액지출 :
                                </td>
                                <td align="center" style="vertical-align:middle">
                                    @string.Format("{0: ###,###.#}", epn.Small_Sum)<span>원</span>
                                </td>
                                <td>
                                    <select id="SmallSum_Expense" class="custom-select" @bind="ann.SmallSum_Expense" style="font-size: 0.9em" required>
                                        <option value="Z">::소액지출 검토 선택::</option>
                                        <option value="적정하게 규정">적정하게 규정</option>
                                        <option value="과다하게 규정">과다하게 규정</option>
                                        <option value="과소하게 규정">과소하게 규정</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="vertical-align:middle">
                                    긴급지출 :
                                </td>
                                <td align="center" style="vertical-align:middle">
                                    @epn.Emergency_Basis
                                </td>
                                <td style="vertical-align:middle">
                                    <select id="SmallSum_Expense" class="custom-select" @bind="ann.Emergency_Expense" style="font-size: 0.9em" required>
                                        <option value="Z">::긴급지출 검토 선택::</option>
                                        <option value="부적절하게 규정">부적절하게 규정</option>
                                        <option value="적정하게 규정">적정하게 규정</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="vertical-align:middle">
                                    검토 의견 :
                                </td>
                                <td colspan="2">
                                    <div class="input-group">
                                        <textarea id="Facility_Etc" style="font-size: 0.9em" placeholder="기타 참고사항 입력하는 곳" @bind="ann.PlanReview_Opinion" rows="3" class="form-control"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table" style="font-size: 0.9em">
                        <tr>
                            <td align="center" width="100" style="vertical-align:middle">
                                완료일 :
                            </td>
                            <td align="center" style="vertical-align:middle">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-pencil-square"></span>&nbsp;승인일</span></div>
                                    <input id="PlanReview_Date" name="PlanReview_Date" style="font-size: 0.9em" @bind="ann.PlanReview_Date" class="form-control" type="date" />
                                    @*<div class="input-group-append">
                                            <span class="input-group-text" style="font-size: 0.9em"><span title="해당 시설물의 이름을 특정할 수 있도록 입력하는 곳"><img src="/images/sub/icon_q.png" height="18" alt="" /></span></span>
                                        </div>*@
                                </div>
                            </td>
                            <td align="center" width="100" style="vertical-align:middle">
                                검토자 :
                            </td>
                            <td align="center" style="vertical-align:middle">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-pencil-square"></span>&nbsp;검토자</span></div>
                                    <input id="Plan_Reviewer" name="Plan_Reviewer" style="font-size: 0.9em" @bind="ann.Plan_Reviewer" class="form-control" type="text" />
                                    @*<div class="input-group-append">
                                            <span class="input-group-text" style="font-size: 0.9em"><span title="해당 시설물의 이름을 특정할 수 있도록 입력하는 곳"><img src="/images/sub/icon_q.png" height="18" alt="" /></span></span>
                                        </div>*@
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="vertical-align:middle">
                                검토구분 :
                            </td>
                            <td align="center" valign="middle">
                                <select id="PlanReview_Division" class="custom-select" @bind="ann.PlanReview_Division" style="font-size: 0.9em" required>
                                    <option value="Z">::검토구분 선택::</option>
                                    <option value="정기검토">정기검토</option>
                                    <option value="수시검토">수시검토</option>
                                </select>
                            </td>
                            <td align="center" style="vertical-align:middle">
                                완료여부 :
                            </td>
                            <td align="center" style="vertical-align:middle">
                                <select id="PlanReview_Complete" class="custom-select" @bind="ann.PlanReview_Complete" style="font-size: 0.9em" required>
                                    <option value="Z">::검토완료선택::</option>
                                    <option value="검토 진행 중">검토 진행 중</option>
                                    <option value="입대의 심의 중">입대의 심의 중</option>
                                    <option value="검토 완료">검토 완료</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" @onclick="btnSave">저장</button> &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnClose">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@*수선항목 검토 입력*@
@if (InsertViewsA == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: cornflowerblue; color: white">
                    <h5 class="modal-title"><span class="bi-house-door"></span>&nbsp;수선항목 검토 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnCloseA">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table width="100%" style="margin-bottom: 5px">
                        <tr>
                            <td width="50%">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-pencil-square"></span>&nbsp;대분류</span></div>
                                    <select id="Sort_A_Code" class="custom-select" value="@strSortA" style="font-size: 0.9em" @onchange="onSortA" required>
                                        <option value="Z">=대분류 선택=</option>
                                        @foreach (var it in fnnA)
                                        {
                                            <option value="@it.Aid">@it.Sort_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-pencil-square"></span>&nbsp;중분류</span></div>
                                    <select id="Sort_A_Code" class="custom-select" value="@strSortB" style="font-size: 0.9em" @onchange="onSortB" required>
                                        <option value="Z">=중분류 선택=</option>
                                        @foreach (var it in fnnB)
                                        {
                                            <option value="@it.Aid">@it.Sort_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td width="50%" style="vertical-align: text-top">
                                <div style="height: 530px; overflow-y:scroll; overflow-x:hidden; vertical-align: text-top">
                                    <table class="table table-sm" style="font-size: 0.9em">
                                        <thead>
                                            <tr style="background-color: ghostwhite">
                                                @*<th class="text-center">완료</th>*@
                                                <th class="text-center">수선항목</th>
                                                <th class="text-center">선택</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var it in jacce)
                                            {
                                                <tr>

                                                    <td class="text-center" style="vertical-align:middle">
                                                        <span title="@it.Repair_Article_Name"> @Dul.StringLibrary.CutString(it.Repair_Article_Name, 20)</span>
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle">
                                                        @if (onComplete(it.Aid.ToString(), ann.Plan_Review_Code.ToString()) > 0)
                                                        {
                                                            <span style="color: red">완료</span>
                                                        }
                                                        else
                                                        {
                                                            <button @onclick="() => OnByContentId(it)" class="btn btn-link btn-sm">선택</button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <table class="table" style="margin-bottom: 0px; font-size: 0.9em; vertical-align: text-top">
                                    <tr>
                                        <td align="center" style="vertical-align: middle; background-color: aliceblue">
                                            <span style="font-weight:bold">수선항목</span> :
                                            @if (jacc.Repair_Article_Name == "" || jacc.Repair_Article_Name == null)
                                            {
                                                <span>선택한 수선항목이 없음</span>
                                            }
                                            else
                                            {
                                                @jacc.Repair_Article_Name
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <select id="Repair_Article_Review" class="custom-select" @bind="bnn.Repair_Article_Review" style="font-size: 0.9em" required>
                                                <option value="">::항목검토 선택::</option>
                                                <option value="적정하게 계획됨">적정하게 계획됨</option>
                                                <option value="부적정 수선항목 삭제요">부적정 수선항목 삭제요</option>
                                                <option value="중복된 수선항목 삭제요">중복된 수선항목 삭제요</option>
                                                <option value="기타 항목">기타 항목</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr style="vertical-align: middle; background-color: aliceblue">
                                        <td align="center" style="vertical-align:middle">
                                            <span style="font-weight:bold">수선금액</span> : @string.Format("{0: ###,###.#}", jacc.Repair_All_Cost)<span>원</span> <span class="bi-slash"></span>@string.Format("{0: ###,###.#}", jacc.Repair_Part_Cost)<span>원</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <select id="Repair_Cost_Review" class="custom-select" @bind="bnn.Repair_Cost_Review" style="font-size: 0.9em" required>
                                                <option value="">::수선금액 검토 선택::</option>
                                                <option value="적정하게 계획됨">적정하게 계획됨</option>
                                                <option value="전체 수선금액 부족">전체 수선금액 부족</option>
                                                <option value="부분 수선금액 부족">부분 수선금액 부족</option>
                                                <option value="전체·부분 수선금액 부족">전체·부분 수선금액 부족</option>
                                                <option value="전체 수선금액 과다">전체 수선금액 과다</option>
                                                <option value="부분 수선금액 과다">부분 수선금액 과다</option>
                                                <option value="전체·부분 수선금액 과다">전체·부분 수선금액 과다</option>
                                                <option value="기타">기타</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr style="vertical-align: middle; background-color: aliceblue">
                                        <td align="center" style="vertical-align:middle">
                                            <span style="font-weight:bold">전체 수선주기</span> : @jacc.All_Cycle<span>년</span><span class="bi-chevron-double-right"></span>@jacc.Repair_Plan_Year_All<span>년</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <select id="Repair_Cycle_Review" class="custom-select" @bind="bnn.Repair_Cycle_Review" style="font-size: 0.9em" required>
                                                <option value="">::전체주기검토 선택::</option>
                                                <option value="적정하게 계획됨">적정하게 계획됨</option>
                                                <option value="상태 양호로 연장">상태 양호로 연장</option>
                                                <option value="전체 주기 도래로 교체 또는 보수 완료">전체 주기 도래로 교체 또는 보수 완료</option>
                                                <option value="긴급지출로 연장 필요">긴급지출로 연장 필요</option>
                                                <option value="소액지출로 연장 필요">소액지출로 연장 필요</option>
                                                <option value="상태 불량으로 단축">상태 불량으로 단축</option>
                                                <option value="내구연한 초과로 단축">내구연한 초과로 단축</option>
                                                <option value="내구연한 내로서 연장">내구연한 내로서 연장</option>
                                                <option value="전체주기 신설 필요">전체주기 신설 필요</option>
                                                <option value="전체주기 삭제 필요">전체주기 삭제 필요</option>
                                                <option value="해당없음">해당없음</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr style="vertical-align: middle; background-color: aliceblue">
                                        <td align="center" style="vertical-align:middle">
                                            <span style="font-weight:bold">부분 수선주기</span> :  @jacc.Part_Cycle<span>년</span><span class="bi-chevron-double-right"></span>@jacc.Repair_Plan_Year_Part<span>년</span><span class="bi-chevron-double-right"></span>@jacc.Repair_Rate<span>%</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <select id="Repair_Part_Rate_Review" class="custom-select" @bind="bnn.Repair_Part_Rate_Review" style="font-size: 0.9em" required>
                                                <option value="">::부분주기 및 수선율 검토 선택::</option>
                                                <option value="적정하게 계획됨">적정하게 계획됨</option>
                                                <option value="상태 양호로 주기 및 수선율 연장">상태 양호로 주기 및 수선율 연장</option>
                                                <option value="상태 양호로 주기 연장">상태 양호로 주기 연장</option>
                                                <option value="상태 양호로 수선율 낮춤">상태 양호로 수선율 낮춤</option>
                                                <option value="상태 불량으로 주기 및 수선율 단축">상태 불량으로 주기 및 수선율 단축</option>
                                                <option value="부분 주기 도래로 교체 또는 보수 완료">부분 주기 도래로 교체 또는 보수 완료</option>
                                                <option value="긴급지출로 연장 필요">긴급지출로 연장 필요</option>
                                                <option value="소액지출로 연장 필요">소액지출로 연장 필요</option>
                                                <option value="상태 불량로 주기 단축">상태 불량로 주기 단축</option>
                                                <option value="상태 양호 수선율 수정 요">상태 양호 수선율 수정 요</option>
                                                <option value="부분주기와 수선율 신설 요">부분주기와 수선율 신설 요</option>
                                                <option value="부분주기와 수선율 삭제 요">부분주기와 수선율 삭제 요</option>
                                                <option value="해당없음">해당없음</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>

                                        <td colspan="2">
                                            <div class="input-group">
                                                <textarea id="Review_Content" style="font-size: 0.9em" placeholder="기타 참고사항 입력하는 곳" @bind="bnn.Review_Content" rows="4" class="form-control">wedew</textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" @onclick="btnContentSave">저장</button> &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnCloseA">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@*수선항목 검토 수정*@
@if (InsertViewsB == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: cornflowerblue; color: white">
                    <h5 class="modal-title"><span class="bi-house-door"></span>&nbsp;수선항목 검토 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnCloseB">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table" style="margin-bottom: 0px; font-size: 0.9em; vertical-align: text-top">
                        <tr>
                            <td align="center" style="vertical-align: middle; background-color: aliceblue">
                                <span style="font-weight:bold">수선항목</span> :
                                @if (jacc.Repair_Article_Name == "" || jacc.Repair_Article_Name == null)
                                {
                                    <span>선택한 수선항목이 없음</span>
                                }
                                else
                                {
                                    @jacc.Repair_Article_Name
                                }
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <select id="Repair_Article_Review" class="custom-select" @bind="bnn.Repair_Article_Review" style="font-size: 0.9em" required>
                                    <option value="">::항목검토 선택::</option>
                                    <option value="적정하게 계획됨">적정하게 계획됨</option>
                                    <option value="부적정 수선항목 삭제요">부적정 수선항목 삭제요</option>
                                    <option value="중복된 수선항목 삭제요">중복된 수선항목 삭제요</option>
                                    <option value="기타 항목">기타 항목</option>
                                </select>
                            </td>
                        </tr>

                        <tr style="vertical-align: middle; background-color: aliceblue">
                            <td align="center" style="vertical-align:middle">
                                <span style="font-weight:bold">수선금액</span> : @string.Format("{0: ###,###.#}", jacc.Repair_All_Cost)<span>원</span> <span class="bi-slash"></span>@string.Format("{0: ###,###.#}", jacc.Repair_Part_Cost)<span>원</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <select id="Repair_Cost_Review" class="custom-select" @bind="bnn.Repair_Cost_Review" style="font-size: 0.9em" required>
                                    <option value="">::수선금액 검토 선택::</option>
                                    <option value="적정하게 계획됨">적정하게 계획됨</option>
                                    <option value="전체 수선금액 부족">전체 수선금액 부족</option>
                                    <option value="부분 수선금액 부족">부분 수선금액 부족</option>
                                    <option value="전체·부분 수선금액 부족">전체·부분 수선금액 부족</option>
                                    <option value="전체 수선금액 과다">전체 수선금액 과다</option>
                                    <option value="부분 수선금액 과다">부분 수선금액 과다</option>
                                    <option value="전체·부분 수선금액 과다">전체·부분 수선금액 과다</option>
                                    <option value="기타">기타</option>
                                </select>
                            </td>
                        </tr>

                        <tr style="vertical-align: middle; background-color: aliceblue">
                            <td align="center" style="vertical-align:middle">
                                <span style="font-weight:bold">전체 수선주기</span> : @jacc.All_Cycle<span>년</span><span class="bi-chevron-double-right"></span>@jacc.Repair_Plan_Year_All<span>년</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <select id="Repair_Cycle_Review" class="custom-select" @bind="bnn.Repair_Cycle_Review" style="font-size: 0.9em" required>
                                    <option value="">::전체주기검토 선택::</option>
                                    <option value="적정하게 계획됨">적정하게 계획됨</option>
                                    <option value="상태 양호로 연장">상태 양호로 연장</option>
                                    <option value="상태 불량으로 단축">상태 불량으로 단축</option>
                                    <option value="내구연한 초과로 단축">내구연한 초과로 단축</option>
                                    <option value="내구연한 내로서 연장">내구연한 내로서 연장</option>
                                    <option value="전체주기 신설 필요">전체주기 신설 필요</option>
                                    <option value="전체주기 삭제 필요">전체주기 삭제 필요</option>
                                    <option value="해당없음">해당없음</option>
                                </select>
                            </td>
                        </tr>

                        <tr style="vertical-align: middle; background-color: aliceblue">
                            <td align="center" style="vertical-align:middle">
                                <span style="font-weight:bold">부분 수선주기</span> :  @jacc.Part_Cycle<span>년</span><span class="bi-chevron-double-right"></span>@jacc.Repair_Plan_Year_Part<span>년</span><span class="bi-chevron-double-right"></span>@jacc.Repair_Rate<span>%</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <select id="Repair_Part_Rate_Review" class="custom-select" @bind="bnn.Repair_Part_Rate_Review" style="font-size: 0.9em" required>
                                    <option value="">::부분주기 및 수선율 검토 선택::</option>
                                    <option value="적정하게 계획됨">적정하게 계획됨</option>
                                    <option value="상태 양호로 주기 및 수선율 연장">상태 양호로 주기 및 수선율 연장</option>
                                    <option value="상태 양호로 주기 연장">상태 양호로 주기 연장</option>
                                    <option value="상태 양호로 수선율 낮춤">상태 양호로 수선율 낮춤</option>
                                    <option value="상태 불량으로 주기 및 수선율 단축">상태 불량으로 주기 및 수선율 단축</option>
                                    <option value="상태 불량로 주기 단축">상태 불량로 주기 단축</option>
                                    <option value="상태 양호 수선율 수정 요">상태 양호 수선율 수정 요</option>
                                    <option value="부분주기와 수선율 신설 요">부분주기와 수선율 신설 요</option>
                                    <option value="부분주기와 수선율 삭제 요">부분주기와 수선율 삭제 요</option>
                                    <option value="해당없음">해당없음</option>
                                </select>
                            </td>
                        </tr>

                        <tr>

                            <td colspan="2">
                                <div class="input-group">
                                    <textarea id="Review_Content" style="font-size: 0.9em" placeholder="기타 참고사항 입력하는 곳" @bind="bnn.Review_Content" rows="4" class="form-control"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" @onclick="btnContentSave">저장</button> &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnCloseB">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}