@page "/Fund_Use_Plan/Repair_Saving_State_Report"
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

    <div class="card">
        <div class="card-header">
            <table width="100%">
                <tr>
                    <td><span style="font-size: 1.1em; color:Highlight"> <span class="bi-house-fill"></span>&nbsp;<span>장기수선충당금 사용 및 적립 현황 정보</span></span></td>
                    <td style="width:200px">
                        <select id="Levy_Year" style="font-size: 0.9em" class="custom-select" value="@Work_Year" @onchange="OnByYearSelect">
                            <option value="">==선택==</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                            <option value="2036">2036</option>
                            <option value="2037">2037</option>
                            <option value="2038">2038</option>
                            <option value="2039">2039</option>
                            <option value="2040">2040</option>
                            <option value="2041">2041</option>
                            <option value="2042">2042</option>
                            <option value="2043">2043</option>
                            <option value="2044">2044</option>
                            <option value="2045">2045</option>
                            <option value="2046">2046</option>
                            <option value="2047">2047</option>
                            <option value="2048">2048</option>
                            <option value="2049">2049</option>
                            <option value="2050">2050</option>
                        </select>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td align="right">
                        <button type="button" class="btn btn-primary btn-sm" @onclick="btnOpen"><span class="bi-box-arrow-right">&nbsp;새로등록</span></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <table class="table table-sm" style="font-size: 0.9em">
                <thead>
                    <tr style="background-color:whitesmoke">
                        <th style="text-align:center">
                            기준년도
                        </th>
                        <th style="text-align:center">
                            월적립금
                        </th>
                        <th style="text-align:center">
                            수선비 총액
                        </th>
                        <th style="text-align:center">
                            적립율에 의한 적립액
                        </th>
                        <th style="text-align:center">
                            잔액
                        </th>
                        <th style="text-align:center">
                            필요액
                        </th>
                        <th style="text-align:center">
                            버튼
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var st in ann)
                    {
                    <tr>
                        <td style="text-align:center; vertical-align:middle">
                            @st.Report_Year<span>년</span>
                        </td>
                        <td style="text-align:center; vertical-align:middle">
                            @string.Format("{0: ###,###.#}", st.Month_Impose)<span>원</span>
                        </td>
                        <td style="text-align:center; vertical-align:middle">
                            @string.Format("{0: ###,###.#}", st.Plan_Funds)<span>원</span>
                        </td>
                        <td style="text-align:center; vertical-align:middle">
                            @string.Format("{0: ###,###.#}", st.Saving_Funds)<span>원</span>
                        </td>
                        <td style="text-align:center; vertical-align:middle">
                            @string.Format("{0: ###,###.#}", st.Balance_Funds)<span>원</span>
                        </td>
                        <td style="text-align:center; vertical-align:middle">
                            @string.Format("{0: ###,###.#}", st.Need_Funds)<span>원</span>
                        </td>
                        <td style="text-align:center; vertical-align:middle">
                            <button @onclick="() => OnByEdit(st)" class="btn btn-link btn-sm">수정</button>
                            <button @onclick="() => OnByRemove(st.Aid)" class="btn btn-link btn-sm">삭제</button>
                        </td>
                    </tr>
                    }

                </tbody>
                </table>
        </div>
    </div>
